<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="GoogleChrome"/>
	<package id="DotNet4.5.1"/>
	<package id="dropbox"/>
	<package id="notepadplusplus"/>
	<package id="git"/>
	<package id="githubforwindows"/>
	<package id="DotNet3.5"/>
	<package id="paint.net"/>
	<package id="7zip"/>
	<package id="linqpad4"/>
	<package id="spotify"/>
	<package id="evernote5"/>
	<package id="mRemoteNG"/>
	<package id="7zip"/>
	<package id="virtualbox"/>
	<package id="1password"/>
	<package id="fiddler4"/>
	<package id="resharper"/>
	<package id="filezilla"/>
	<package id="metrostudio"/>
	<package id="firefox"/>
	<package id="pidgin"/>
	<package id="launchy"/>
	<package id="virtualclonedrive"/>
	<package id="adobereader"/>
	<package id="MsSqlServer2012Express"/>
	<package id="jing"/>
	<package id="hipchat"/>
	<package id="ransack"/>
	<package id="beyondcompare"/>
	<package id="ccleaner"/>
	<package id="defraggler"/>
	<package id="chocolateygui"/>
	<package id="pdfcreator"/>
	<package id="tortoisesvn"/>
	<package id="zoomit"/>
	<package id="javaruntime"/>
	<package id="flashplayeractivex"/>
	<package id="flashplayerplugin"/>
	<package id="teamviewer"/>
	<package id="gitextensions"/>
	<package id="silverlight"/>
	<package id="nugetpackageexplorer"/>
	<package id="quicktime"/>
	<package id="webpi"/>
	<package id="visualstudio2013ultimate"/>
	<package id="clickie"/>
	<package id="clipcache"/>
	<package id="stickies"/>
</packages>
